
body{
	font-size:125%;
    background-color: blanchedalmond;
    padding: 30px;
}

h1{
	font-size: 4em; 
	font-weight: bold;
    color:darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
	font-size: 2em; 
	font-weight: bold;
}

p, h1, h2 {
    padding: 20px;
}

ul li{
    margin: auto;
}